__pycache__/
env/
gurobi.env
# Ignore specific directories
/node_modules/
/dist/
/data/
src/code_fgfl_aaai14/data_gfl/
src/PQN/data/
src/code_fgfl_aaai14/result_gfl/
src/PQN/result/


# stop tracking compiled extensions
sparse_module.so
# stop tracking experiment outputs
results/
logs/
.src/